<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">ir a inicio</a>
    <br>
    <a href="/categoria_new">categoria nueva</a>
    <div style="display:grid;grid-template-columns:repeat(10,1fr);gap:15px;margin:10px 30px">
        <table style="grid-column:1/5;background-color: bisque;">
            <tr>
                <th style="text-align:center">nombre</th>
            </tr>
                
            <tr>
                {% for cat in categorias %}
                <td>{{cat.nombre}}</td>
                {% if current_user.is_authenticated and current_user.is_admin()  %}
                <td><a href="/update_categoria/{{cat.id}}"><span class="glyphicon glyphicon-pencil"></span> Modificar</a></td>
                <td><a href="/delete_categoria/{{cat.id}}"><span class="glyphicon glyphicon-trash"></span> Borrar</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>